*{
    border-radius: 30px;
}
header {
    height: 60vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #d9c3fa;
}
body {
    display: block;
    text-align: center;
    background-color: #bfabf5;
    overflow-x: hidden;
}
body.dark-mode {
    background-color: #333;
    color: white;
}

body.light-mode {
    background-color: #fff;
    color: black;
}
footer{
    align-items: center;
    padding: 10px 0;
    position: relative;
    justify-content: center;
   /* background-color: #bfabf5;*/

}
/*header*/
nav {
    background-color: rgba(126, 87, 194, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;  /* Coloca los elementos a ambos lados */
    align-items: center;  /* Alinea los elementos verticalmente */
    box-sizing: border-box; /* Para asegurarse de que los elementos ocupen bien el espacio */
}
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    /* Oculta el menú de navegación y las opciones extras */
    .nav {
        display: none; /* Oculto por defecto */
        flex-direction: column;
        width: 100%;
        background-color: #5a189a; /* Color de fondo para el menú en móvil */
        position: absolute;
        top: 50px; /* Ajusta según el espacio que necesites */
        left: 0;
        z-index: 1;
    }

    .nav.show {
        display: flex; /* Muestra el menú cuando está activo */
    }

    .nav-links, .navbar-right {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
.nav-links, .navbar-right {
    display: flex;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
    font-size: 20px;
    color: #a492f0;
    display: inline-block;
}
nav a{
    color:#e19874;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
ul {
    padding: 25px 100px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

li {
    font-size: 20px;
    width: 10em;
    height: 2em;
    color: #a492f0;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
{
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #1a0b7a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
    pointer-events: none;
}

li:hover span {
    transform: translateX(0.25em);
}
/* izquierda  navbar*/

.navbar-right {
    display: flex;
    align-items: center; 
    gap: 10px;  
}
.cv-button a {
    padding: 10px 15px;
    background-color: #00bcd4;
    color: white;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
}

.language-switcher select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.theme-switcher button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.theme-switcher button:hover {
    color: #ccc;
}
/*Finaliza Navbar*/
.hola {
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    flex: 2;
}
.titulo {
    display: flex;
    flex: 2;
}
h1 .titulo{
    font-size: 6em;
    color:  #8a7aeb;
    text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0px;
    transition: transform 0.3s;
}
.titulo:hover {
    transform: scale(0.9);
}
.container {   
    display: grid;
    
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background-color: #a492f0;
    border-radius: 15px;
    justify-content: space-around;
    align-content: center;
}
.box1 {
    justify-content: center;
    position: fixed; 
    top: 0; 
    width: 95%; 
    background-color: #1a0b7a;
    color: white;
    z-index: 1000;
    
}
.cara {
    object-fit: cover;
    width: 300px; 
    height: auto; 
    border-radius: 50%; 
    animation: float 3s ease-in-out infinite; 
    border: 3px solid #e19874;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); } 
    100% { transform: translateY(0); }
}

.box2 { /*aca esta la foto de cara*/
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
   
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;   
}
.box2:hover .cara {
    animation: main_avatar_animation 2s linear infinite;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05); 
    
}
.box3 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    margin-top: 15%;
}


/*body*/

.titulo-principal{
    padding: 20px 30px 30px 10px;
    font-size: 50px;
    color: #333;
    background-color: #8a7aeb;
}
.titulo-principal:hover {
    transform:scale(0.9)
}
.imagen img{
    width: 200px; 
    border-radius: 60%;
    border-style: solid;
}
.titulo-principal{
    padding: 20px 30px 30px 10px;
    font-size: 50px;
    color: #333;
    background-color: #8a7aeb;
}
.titulo-principal:hover {
    transform:scale(0.9)
}
#perfil {
    margin: 20px 0;
    border-radius: 10px;
}
.sobre-mi {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.personal {
    font-size: 18px;
    background-color: #d9c3fa;
    border: 1px solid #ccc;
    border-radius: 37px;
background: linear-gradient(145deg, #9483d8, #af9cff);
box-shadow:  24px 24px 33px #7063a3,
             -24px -24px 33px #d8c1ff;
    padding: 20px;
    flex:1;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}
.personal h2 {
    margin-top: 0;
}
p {
    background-color: #f3dbff;
}
.titulo-proyecto {
    padding: 10px 3px 10px 10px;
    font-size: 45px;
    color: #877878;
    background-color:#d9c3fa;
}
.titulo-proyecto:hover{
    transform:scale(0.9)
}
#proyectos {
    margin: 20px 0;
    border-radius: 10px;
  /*  background-color: #8a7aeb;*/
}
.maqueta {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.iniciales {
    font-size: 18px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 37px;
background: linear-gradient(145deg, #9483d8, #af9cff);
box-shadow:  24px 24px 33px #7063a3,
             -24px -24px 33px #d8c1ff;
    
    padding: 20px;
    flex:1;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}
.iniciales h2 {
    margin-top: 0;
}
.iniciales a{
    display: block;
    align-items: center;
    background-color: rgba(126, 87, 194, 0.8);
    color: rgb(251, 251, 251);
    padding: 10px 5px 10px 10px;
    border-radius: 50px;
    margin: 5px 0;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
}
.iniciales a:hover {
    background-color: #8a7aeb;
}
p {
    padding: 10px 5px 5px 10px;
}
.titulo-tecnologia{
    padding: 10px 3px 10px 10px;
    font-size: 45px;
    color: #877878;
    background-color:#d9c3fa;
}
.titulo-tecnologia:hover{
    transform:scale(0.9)
}
#tecnologias{
    margin: 20px 0;
    border-radius: 10px;
   /* background-color: #8a7aeb;*/
}
.caja2{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.tecno {
    font-size: 15px;
    background-color: #f4f4f4;
    border: 5px solid #ccc;
    border-radius: 37px;
    background: linear-gradient(145deg, #9483d8, #af9cff);
    box-shadow:  24px 24px 65px #7468aa,
             -24px -24px 65px #d4bcff;
    padding: 20px;
    flex:1;
    margin: 0 10px;
}
.tecno h2 {
    margin-top: 0;
}
.tecno a{
    display: block;
    align-items: center;
    background-color: #8a7aeb;
    color: rgb(251, 251, 251);
    padding: 10px 5px 10px 10px;
    border-radius: 50px;
    margin: 5px 0;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
}
.tecno a:hover {
    background-color: #8a7aeb;
}


/* footer*/

.titulo-contacto {
    padding: 10px 3px 10px 10px;
    font-size: 45px;
    color: #877878;
    background-color:#d9c3fa;
}
.titulo-contacto:hover{
    transform:scale(0.9)
}
.caja-contacto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
   /* background: #a492f0;*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    flex:1;
    margin-right: 20px;
    width: 500px;
    background: #8a7aeb;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    width: 95%;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    background-color: #bfabf5;
    cursor: pointer;
}
input, textarea {
    width: 95%;
    padding: 10px 0px 5px 5px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid #8a7aeb;
    border-radius: 10px;
    display: block;

}
button {
    margin-top: 10px;
    background-color: #bfabf5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.redes {
    flex: 1;
    flex-direction: column;
    background-color: #8a7aeb;
    padding: 35px 35px 30px 30px;
}
.redes a{
    display: block;
    align-items: center;
    background-color: #a492f0;
    color: #f3dbff;
    padding: 10px 5px 10px 10px;
    border-radius: 50px;
    margin: 5px 0;
    text-decoration: none;
    transition: background-color 0.3s;
}
.redes a:hover {
    background-color: #8a7aeb;
}
.redes i{
    margin-right: 10px;
    font-size: 35px;
    border-radius: 5px;
}
.redes h2 {
    background-color:#bfabf5;
}

.copyRight {
    text-align: center;
    align-items: center;
}
#message {
    width: 100%; 
    max-width: 545px; 
    min-height: 100px; 
    resize: none; 
    padding: 10px; 
    border: 1px solid #8a7aeb;
    border-radius: 10px; 
}
 /*----------------RESPONSIVE--------------------*/
 /*headerr*/
 @media (max-width: 768px) {
    *{
        border-radius: 0px;
    }
    nav li {
        display: block; 
        margin: 10px 0; 
    }

    h1 .titulo {
        font-size: 4em; 
    }

    .box1 {
        width: 100%; 
        padding: 10px; 
        position: relative;
        display: table-cell;
    }

    .container {
        padding: 5px 5px; 
        display: inline;
    }

    .cara {
        width: 200px; 
    }
    header {
        height: 80vh;
    }
    .hola, .titulo{
        font-size: 20px;
    }
    .box3{
        margin-top: 0;
        display: inline-block;
    }

}
/*----------BODY--------------*/
@media (max-width: 768px) {
    .titulo-principal {
        font-size: 30px; 
    }

    .sobre-mi {
        flex-direction: column; 
    }

    .personal, .iniciales, .tecno {
        font-size: 12px; 
        width: 100%; 
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
    }
  
    .maqueta {
        flex-direction: column; 
    }
    .caja2{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    margin-bottom: 20px; /
    }
    .tecno{
        height: fit-content;
        box-sizing: border-box; 
    padding: 10px; 
    border: 1px solid #ccc; 
    }
    img {
        width: 50px;
    }
}
@media (max-width: 480px) {
    .titulo-principal {
        font-size: 25px; 
    }

    .titulo-proyecto,
    .titulo-tecnologia {
        font-size: 35px; 
    }
}
/*----------------------FOOTER--------------------*/
@media (max-width: 768px) {
    .titulo-contacto {
        font-size: 30px; 
    }

    .caja-contacto {
        padding: 15px; 
        display: inline-block;
    }

    form {
        width: 90%; 
        margin: 10px 0; 
        padding: 25px 25px 30px 5px;
        border-radius: 0px;
    }

    button {
        width: 100%;
    }
    #message {
        min-height: 80px; 
        width: 85%;
    }
}
/*-------------------*/

.contact-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.contact-icons a:hover {
    color: #00bfff; 
}

/* Contenedor que oculta los íconos fuera de la vista */
.tech-icons-wrapper {
    overflow: hidden; 
    width: 100%; 
    height: 100px; 
    position: relative;
}

/* Contenedor de los íconos con animación */
.tech-icons {
    display: flex; 
    justify-content: start; 
    align-items: center;
    position: absolute;
    white-space: nowrap;
    animation: scroll 15s linear infinite; 
}

.tech-icons img {
    flex: 0 0 auto; 
    width: 80px; 
    height: 80px;
    margin: 0 20px; 
    filter: invert(1); 
    transition: transform 0.3s ease; 
}

.tech-icons img:hover {
    transform: scale(1.2); 
}

@keyframes scroll {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

@media (max-width: 768px) {
    .contact-icons a {
        font-size: 20px;
        margin: 0 8px; 
    }

    .tech-icons img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .contact-icons a {
        font-size: 18px;
        margin: 0 5px;
    }

    .tech-icons img {
        width: 50px;
        height: 50px;
    }
}